
.login-page{
	padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.login-title{
	margin-bottom: 40px;
	font-size: 30px;
	font-weight: 800;
}
.login-label{
	margin-bottom: 40px;
	font-size: 22px;
	font-weight: 800;
}
.login-form{
	display: flex;
	flex-direction: column;
	width: 60%;
}

.login-input{
	border: 1px solid orange;
	border-radius: 15px;
	font-size: 16px;
	width: 100%;
	padding: 12px 10px;
	transition: all 0.3s ease-in-out;
	&:focus{
		box-shadow: 4px 4px 4px 3px rgb(0 0 0 / 75%)
	}
	
}

.login-button{
	margin-top: 5px;
	padding: 10px 8px;
	border: 1px solid orange;
	border-radius: 15px;
	font-size: 18px;
	transition: all 0.3s ease-in-out;
	font-size: 20px;
	font-weight: 700;
	&:hover{
		background-color: rgb(255, 145, 2);
		color:white;
		cursor: pointer;
	}
	&:active{
		transform: translateY(3px);
	  }
	  @media (max-width:500px){
		font-size: 16px;
	  }
}

.login-link{
	width: 61%;
	text-align: center;
	margin-top: 15px;
	padding: 10px 8px;
	border: 1px solid orange;
	border-radius: 15px;
	transition: all 0.3s ease-in-out;
	font-size: 20px;
	font-weight: 700;
	&:hover{	
		background-color: rgb(255, 145, 2);
		color:white;
		cursor: pointer;
	}
	&:active{
		transform: translateY(3px);
	  }
	  @media (max-width:500px){
		font-size: 16px;
	  }
}

.login__link-title{
margin-top: 30px;
font-size: 22px;
font-weight: 700;
text-align: center;
}